<!doctype html>
<html lang="en">

<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
  "title": "HTML Boilerplate"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>

<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <!-- include banner.html -->
    @@include('../partials/banner.html')

    <main class="b-page-main">
      <div class="b-page-work">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <div class="b-heading text-center">
                <h2 class="b-text-title">
                  How does it work
                </h2>
                <p class="b-text-norm">
                  There are many variations of passages of Lorem Ipsum available
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="b-card">
                <div class="b-icon">
                  <img src="../../images/IconSearch.png" alt="Search" />
                </div>
                <div class="b-content">
                  <h2 class="b-text-title">
                    Search Destination
                  </h2>
                  <p class="b-text-norm">
                    There is long established fact that reader
                    will be distracted content
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="b-card">
                <div class="b-icon">
                  <img src="../../images/IconSearch.png" alt="Search" />
                </div>
                <div class="b-content">
                  <h2 class="b-text-title">
                    Search Destination
                  </h2>
                  <p class="b-text-norm">
                    There is long established fact that reader
                    will be distracted content
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="b-card">
                <div class="b-icon">
                  <img src="../../images/IconSearch.png" alt="Search" />
                </div>
                <div class="b-content">
                  <h2 class="b-text-title">
                    Search Destination
                  </h2>
                  <p class="b-text-norm">
                    There is long established fact that reader
                    will be distracted content
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-page-takeoff">
        <div class="b-takeoff">
          <div class="b-block">
            <div class="b-block-left">
              <div class="b-content">
                <h2 class="b-text-title">
                  Takeoff app overview for better
                  understanding
                </h2>
                <p class="b-text-norm">
                  There is long established fact that reader
                  will be distracted content
                </p>
                <div class="b-list-social">
                  <div class="b-item">
                    <a href="#" class="b-link">
                      <img src="../../images/appleStore.png" alt="App" />
                    </a>
                  </div>
                  <div class="b-item">
                    <a href="#" class="b-link">
                      <img src="../../images/playstore.png" alt="App" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="b-block-right">
              <div class="b-overlay">
                <div class="b-content">
                  <h2 class="b-text-title">
                    Y!
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-page-perfect">
        <div class="container">
          <div class="b-block">
            <div class="b-block-left">
              <div class="b-images">
                <img src="../../images/Perfec_item_1.png" alt="Perfect" />
              </div>
            </div>
            <div class="b-block-right">
              <div class="b-icon">
                <img src="../../images/IconGlobal.png" alt="Global" />
              </div>
              <div class="b-content">
                <h2 class="b-text-title">
                  Perfect app for flight
                  ticket booking
                </h2>
                <p class="b-text-norm">
                  t is a long established fact that a reader will be distracted by the readable content of a page when
                  at its layout.

                  The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                  opposed to using content here, generator here', making it look like readable English.
                </p>
              </div>
            </div>
          </div>
          <div class="b-block">
            <div class="b-block-left">
              <div class="b-images">
                <img src="../../images/Perfec_item_1.png" alt="Perfect" />
              </div>
            </div>
            <div class="b-block-right">
              <div class="b-icon">
                <img src="../../images/IconGlobal.png" alt="Global" />
              </div>
              <div class="b-content">
                <h2 class="b-text-title">
                  Perfect app for flight
                  ticket booking
                </h2>
                <p class="b-text-norm">
                  t is a long established fact that a reader will be distracted by the readable content of a page when
                  at its layout.

                  The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                  opposed to using content here, generator here', making it look like readable English.
                </p>
              </div>
            </div>
          </div>
          <div class="b-block">
            <div class="b-block-left">
              <div class="b-images">
                <img src="../../images/Perfec_item_1.png" alt="Perfect" />
              </div>
            </div>
            <div class="b-block-right">
              <div class="b-icon">
                <img src="../../images/IconGlobal.png" alt="Global" />
              </div>
              <div class="b-content">
                <h2 class="b-text-title">
                  Perfect app for flight
                  ticket booking
                </h2>
                <p class="b-text-norm">
                  t is a long established fact that a reader will be distracted by the readable content of a page when
                  at its layout.

                  The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                  opposed to using content here, generator here', making it look like readable English.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="b-page-counter">
        <div class="b-counter">
          <div class="b-block">
            <div class="b-item">
              <div class="b-icon">
                <img src="../../images/IconDownload.png" alt="Download" />
              </div>
              <h2 class="b-text-title">
                250K
              </h2>
              <p class="b-text-norm">
                App Download
              </p>
            </div>
            <div class="b-item">
              <div class="b-icon">
                <img src="../../images/IconDownload.png" alt="Download" />
              </div>
              <h2 class="b-text-title">
                250K
              </h2>
              <p class="b-text-norm">
                App Download
              </p>
            </div>
            <div class="b-item">
              <div class="b-icon">
                <img src="../../images/IconDownload.png" alt="Download" />
              </div>
              <h2 class="b-text-title">
                250K
              </h2>
              <p class="b-text-norm">
                App Download
              </p>
            </div>
            <div class="b-item">
              <div class="b-icon">
                <img src="../../images/IconDownload.png" alt="Download" />
              </div>
              <h2 class="b-text-title">
                250K
              </h2>
              <p class="b-text-norm">
                App Download
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="b-page-recent">
        <div class="b-heading">
          <h2 class="b-text-title">
            Recent News
          </h2>
          <p class="b-text-norm">
            It is a long established fact that a reader will be distracted its by the
            readable content of a page when at its layout
          </p>
        </div>
        <div class="b-block">
          <div class="b-block-item">
            <div class="b-images" style="background-color: url('../../images/BG1.png')">
            </div>
            <div class="b-content">
              <h2 class="b-text-title">
                20 Most Beatiful Places
              </h2>
              <h3 class="b-text-time">
                Posted By: Admin | 07 Sep, 2018
              </h3>
              <p class="b-text-norm">
                Ut enim ad minim veniquis nostrud lieon
                tear exercitation ullamco.If you use this site to donating a bandwidth bill.
              </p>
              <a href="#" class="b-link">Read More</a>
            </div>
          </div>
          <div class="b-block-item">
              <div class="b-images" style="background-color: url('../../images/BG1.png')">
              </div>
              <div class="b-content">
                <h2 class="b-text-title">
                  20 Most Beatiful Places
                </h2>
                <h3 class="b-text-time">
                  Posted By: Admin | 07 Sep, 2018
                </h3>
                <p class="b-text-norm">
                  Ut enim ad minim veniquis nostrud lieon
                  tear exercitation ullamco.If you use this site to donating a bandwidth bill.
                </p>
                <a href="#" class="b-link">Read More</a>
              </div>
            </div>
            <div class="b-block-item">
                <div class="b-images" style="background-color: url('../../images/BG1.png')">
                </div>
                <div class="b-content">
                  <h2 class="b-text-title">
                    20 Most Beatiful Places
                  </h2>
                  <h3 class="b-text-time">
                    Posted By: Admin | 07 Sep, 2018
                  </h3>
                  <p class="b-text-norm">
                    Ut enim ad minim veniquis nostrud lieon
                    tear exercitation ullamco.If you use this site to donating a bandwidth bill.
                  </p>
                  <a href="#" class="b-link">Read More</a>
                </div>
              </div>
        </div>
      </div>
    </main>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>

</html>