<section class="b-page-perfect">
  <div class="b-perfect">
    <div class="b-block">
      <div class="b-block-left">
        <div class="b-content">
          <h2 class="b-text-title">
            Perfect app for flight ticket booking 123
          </h2>
          <p class="b-text-norm">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour.all the Lorem Ipsum to generators looks Ipsum available reasonable.
          </p>
          <div class="b-list-social">
            <div class="b-item">
              <a href="#" class="b-link">
                <img src="../../images/appleStore.png" alt="App" />
              </a>
            </div>
            <div class="b-item">
              <a href="#" class="b-link">
                <img src="../../images/playstore.png" alt="App" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="b-block-right">
        <img src="../../images/TiketDetails.png" alt="Tiket" />
      </div>
    </div>
  </div>
</section>