<footer class="b-page-footer">
  <div class="b-footer-take">
    <div class="container">
      <div class="b-block">
        <div class="b-block-item">
          <div class="b-heading">
            <img src="../../images/Takeoff.png" alt="Take" />
          </div>
          <div class="b-content">
            <p class="b-text-norm">
              It is a long established fact that it is reader will be distracted it by readable content of a pagei when
              at it conten making.
            </p>
          </div>
          <div class="b-follow">
            <h2 class="b-text-title">
              Follow Us
            </h2>
            <div class="b-list-social">
              <div class="b-item">
                <a href="#" class="b-link">
                  <!-- <img src="../../images/fb.png" alt="Facebook" /> -->
                </a>
              </div>
              <div class="b-item">
                <a href="#" class="b-link">
                  <!-- <img src="../../images/fb.png" alt="Facebook" /> -->
                </a>
              </div>
              <div class="b-item">
                <a href="#" class="b-link">
                  <!-- <img src="../../images/fb.png" alt="Facebook" /> -->
                </a>
              </div>
              <div class="b-item">
                <a href="#" class="b-link">
                  <!-- <img src="../../images/fb.png" alt="Facebook" /> -->
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="b-block-item">
          <div class="b-heading">
            <h2 class="b-text-title">
              Recomended
            </h2>
          </div>
          <div class="b-content">
            <div class="b-item">
              <a href="#" class="b-link">Watch Demo Video</a>
            </div>
            <div class="b-item">
              <a href="#" class="b-link">Watch Demo Video</a>
            </div>
            <div class="b-item">
              <a href="#" class="b-link">Watch Demo Video</a>
            </div>
            <div class="b-item">
              <a href="#" class="b-link">Watch Demo Video</a>
            </div>
            <div class="b-item">
              <a href="#" class="b-link">Watch Demo Video</a>
            </div>
            <div class="b-item">
              <a href="#" class="b-link">Watch Demo Video</a>
            </div>
          </div>
        </div>
        <div class="b-block-item">
          <div class="b-heading">
            <h2 class="b-text-title">
              Recomended
            </h2>
          </div>
          <div class="b-content">
            <div class="b-item">
              <a href="#" class="b-link">Watch Demo Video</a>
            </div>
            <div class="b-item">
              <a href="#" class="b-link">Watch Demo Video</a>
            </div>
            <div class="b-item">
              <a href="#" class="b-link">Watch Demo Video</a>
            </div>
            <div class="b-item">
              <a href="#" class="b-link">Watch Demo Video</a>
            </div>
            <div class="b-item">
              <a href="#" class="b-link">Watch Demo Video</a>
            </div>
            <div class="b-item">
              <a href="#" class="b-link">Watch Demo Video</a>
            </div>
          </div>
        </div>
        <div class="b-block-item">
          <div class="b-heading">
            <h2 class="b-text-title">
              Subscribe & Download
            </h2>
          </div>
          <div class="b-content">
            <p class="b-text-norm">
              Subscribe to our newsletter for latest update
            </p>
            <div class="b-input">
              <input type="text" class="b-input">
              <button class="b-btn">
                <i class="fas fa-plane-departure"></i>
              </button>
            </div>
          </div>
          <div class="b-social">
            <div class="b-item">
              <img src="../../images/appStore.png" alt="App" />
            </div>
            <div class="b-item">
              <img src="../../images/playstore.png" alt="Play" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="b-footer-equalizzer">
    <div class="b-equalizzer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p class="b-text-norm">
              &copy; 2017 Equalizzer | All Rights Reserved By Abdullah Al Mamun | Envato Marketplace
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>