<header class="b-page-header">
  <div class="container">
    <div class="b-block">
      <div class="b-block-left">
        <nav class="b-page-nav">
          <ul class="b-list-item">
            <li class="b-item">
              <a href="#" class="b-item b-logo">
                <img src="../../images/Takeoff.png" alt="Take" />
              </a>
            </li>
            <li class="b-item">
              <a href="#" class="b-link">OVERVIEW</a>
            </li>
            <li class="b-item">
              <a href="#" class="b-link">HOW IT WORKS</a>
            </li>
            <li class="b-item">
              <a href="#" class="b-link">FEATURES</a>
            </li>
            <li class="b-item">
              <a href="#" class="b-link">APP</a>
            </li>
            <li class="b-item">
              <a href="#" class="b-link">CONTACT</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="b-block-right">
        <div class="b-sign">
          <div class="b-item">
            <a href="#" class="b-link b-signin waves-effect waves-light">SIGN IN</a>
          </div>
          <div class="b-item">
            <a href="#" class="b-link waves-effect waves-light">CONTACT</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>